@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  background-color: #FDE047;
}

.height-full{
  height: 89%;
}

.act-btn{
  color: #fff;
  background-color: black;
  border-radius: 25px;
}

.act-btn:hover{
  font-weight: 900;
  background-color: #5781ff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  -webkit-box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.act-links{
  color: black;
  border-radius: 4px;
  padding: 2px;
}

.act-links:hover{
  background-color: #5781ff; 
  color: #fff;
  padding: 5px;
}

.project-box{
  background-color: black;
  color: #fff;
  border-radius: 10px;
  padding: 15px 30px;
}

.project-box div .view-projects{
  background-color: #5781ff;
  color: #fff;
  border-radius: 25px;
  padding: 10px 20px;
}

.project-box:hover{
  background-color: #5781ff;
  color: black;
}

.project-box:hover div .view-projects{
  background-color: black;
}


/* width */
::-webkit-scrollbar {
  width:8px;
}

/* ::-webkit-scrollbar-track {
  background: #b0b0b0;
} */
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: black; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5781ff; 
}
